* {
    /* general styles */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}

*::selection {
    /* color */
    background-color: #000;
    color: #d8d8d8;
}

@media (max-width : 600px) {

    body {
        /* color */
        background: url('spiral-light-blue.png') no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    
        /* design */
        height: 100vh;
        width: 100vw;
    
        /* structure */
        display: flex;
        place-content: center;
        place-items: center;
        flex-direction: column;
        justify-content: space-evenly;
    }
    
    h1 {
        /* color */
        color: #ffffff;
    
        /* font */
        font-family: 'Russo One', sans-serif;
        font-weight: 400;
        text-shadow: 0px 0px 10px #ffffff6e;
    }
    
    section {
        
        /* design */
        width: 90dvw;
    
        /* structure */
        display: flex;
        place-content: center;
        place-items: center;
        justify-content: space-around;
    
    }
    
    .reloj {
        /* color */
        background-color: #0000002c;
        color: #fff;
    
        /* design */
        width: 5rem;
        padding: 1rem;
        border-radius: .2rem;
        box-shadow: 2px 2px 0px #0000005e;
    
        /* font */
        font-family: 'Prompt', sans-serif;
        font-size: 2rem;
    
        /* structure */
        display: flex;
        place-content: center;
        place-items: center;
    }
    
    .imgBorder {
        /* color */
        /* background-image: linear-gradient(to top, #4fb576 0%, #44c489 30%, #28a9ae 46%, #28a2b7 59%, #4c7788 71%, #6c4f63 86%, #432c39 100%); */
        background-image: linear-gradient(to top, #0c3483 0%, #a2b6df 100%, #6b8cce 100%, #a2b6df 100%);
    
        /* design */
        width: 80dvw;
        height: 40dvh;
    
        border-radius: 1rem;
        box-shadow: none;

        overflow: hidden;
    
        /* structure */
        display: flex;
        place-content: center;
        place-items: center;
    
        /* animations */
        animation-name: brightness;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
    
    img {
        /* design */
        width: 79.5dvw;
        height: 39.5dvh;
    
        border-radius: 1rem;
    }

}

@media ( max-width : 366px ) {

    section {
        
        /* design */
        width: 90dvw;
    
        /* structure */
        display: flex;
        place-content: center;
        place-items: center;
        justify-content: space-evenly;
    
    }
    
    .reloj {
        /* color */
        background-color: #0000002c;
        color: #fff;
    
        /* design */
        width: 3rem;
        padding: 1rem;
        border-radius: .2rem;
        box-shadow: 2px 2px 0px #0000005e;
    
        /* font */
        font-family: 'Prompt', sans-serif;
        font-size: 1rem;
    
        /* structure */
        display: flex;
        place-content: center;
        place-items: center;
    }

}

#blackground {
    /* design */
    width: 79.5dvw;
    height: 39.5dvh;
    position: absolute;
    z-index: 0;
}

.anim {
    
    /* animation */
    animation: appearDesapear 5s linear;
}

#logoForTransition {
    /* design */
    width: 79.5dvw;
    height: 39.5dvh;
    position: absolute;
    z-index: 1;

    /* animation */
    animation: appearDesapearInverse 5s infinite linear;
}

.displayOn {
    /* design */
    z-index: 10;

    /* structure */
    display: block;
}

.displayOff {

    /* structure */
    display: none;
}


@keyframes brightness {
    0% {
        box-shadow: none;
    }
    25% {
        box-shadow: 0px 0px 10px #ffffff2c;
    }
    40% {
        box-shadow: 0px 0px 10px #ffffff41;
    }
    50% {
        box-shadow: 0px 0px 10px #ffffff86;
    }
    60% {
        box-shadow: 0px 0px 10px #ffffff41;
    }
    75% {
        box-shadow: 0px 0px 10px #ffffff2c;
    }
    100% {
        box-shadow: none;
    }
}

@keyframes appearDesapear {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes appearDesapearInverse {
    0% {
        opacity: 1;
    }
    15% {
        opacity: 0;
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}