* {
    /* general styles */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::selection {
    /* color */
    background-color: #000;
    color: #d8d8d8;
}

html {
    /* color */
    background: url('mO4Xo9pJkJYvELaFtlkHatBO.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    /* color */
    background: radial-gradient(circle, rgba(6,59,0,1) 0%, rgba(0,0,0,1) 100%);

    /* design */
    min-height: 100dvh;
    z-index: 10;
    opacity: .9;

    /* structure */
    display: flex;
    place-content: center;
}

main {
    /* color */
    color: #ffffff;

    /* design */
    margin-top: 30px;

    /* structure */
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.top {

    /* structure */
    display: flex;
    gap: 30px;
    flex-direction: row-reverse;
    justify-content: center;
}

.imgBorder {
    position: relative;
    background-color: #001d04;
    width: 500px;
    height: 350px;
    padding: 5px;
    overflow: hidden;
    box-shadow: 0px 0px 10px #001d04;
    z-index: 3;

    border-radius: 8px;

    /* animations */
    animation: brightness 5s ease infinite;
}

.imgBorder::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -10%;
    width: 300px;
    height: 350px;
    background-image: linear-gradient(to top, #4fb576 0%, #44c489 30%, #28a9ae 46%, #28a2b7 59%, #4c7788 71%, #6c4f63 86%, #432c39 100%);
    transform-origin: bottom right;
    animation: animate 5s linear infinite;
    z-index: 3;
}

.imgBorder::after {
    content: '';
    position: absolute;
    background-image: linear-gradient(-60deg, #16a085 0%, #f4d03f 100%);
    top: -50%;
    left: -10%;
    width: 300px;
    height: 350px;
    transform-origin: bottom right;
    animation: animate 5s linear 2.5s infinite;
    z-index: 3;
}

.imgEffect {
    /* color */
    background-color: #001b10;

    /* design */
    position: absolute;
    inset: 3px;
    z-index: 10;
    border-radius: 8px;

    /* structure */
    display: grid;
    place-items: center;
}

.imgContainer {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

img {
    height: 100%;
    width: 100%;
    border-radius: 8px;
}

#blackground {
    position: absolute;
    z-index: 0;
}

.anim {
    
    /* animation */
    animation: appearDesapear 5s linear;
}

#logoForTransition {
    position: absolute;
    z-index: 1;

    /* animation */
    animation: appearDesapearInverse 5s infinite linear;
}

.displayOn {
    z-index: 10;

    /* structure */
    display: block;
}

.displayOff {

    /* structure */
    display: none;
}


@keyframes brightness {
    0% {
        box-shadow: none;
    }
    25% {
        box-shadow: 0px 0px 10px #ffffff2c;
    }
    40% {
        box-shadow: 0px 0px 10px #ffffff41;
    }
    50% {
        box-shadow: 0px 0px 10px #ffffff86;
    }
    60% {
        box-shadow: 0px 0px 10px #ffffff41;
    }
    75% {
        box-shadow: 0px 0px 10px #ffffff2c;
    }
    100% {
        box-shadow: none;
    }
}

@keyframes appearDesapear {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes appearDesapearInverse {
    0% {
        opacity: 1;
    }
    15% {
        opacity: 0;
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.topRight {

    /* design */
    width: 50ch;

    /* structure */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    place-items: center;
}

h1 {
    /* color */
    color: #ffffff;

    /* font */
    font-family: 'Russo One', sans-serif;
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: .2rem;
    text-shadow: 0px 0px 10px #ffffff6e;
}

section {
    /* design */
    width: 100%;

    /* structure */
    display: flex;
    flex-direction: column;
    gap: .3rem;
}

.clock {
    display: flex;
    justify-content: space-evenly;
}

.timeSubtitles {
    font-family: 'Prompt', sans-serif;
    font-weight: 200;
    font-size: 1rem;

    display: flex;
    justify-content: space-around;
}

.reloj {
    /* color */
    background-color: #000000e3;
    color: #fff;

    /* design */
    width: 5rem;
    /* height: 6rem; */
    padding: 1rem;
    /* border-radius: .2rem; */
    /* box-shadow: 0px 0px 10px forestgreen; */
    
    border-left: 3px solid forestgreen;
    border-radius: 3px;

    /* font */
    font-family: 'Prompt', sans-serif;
    font-weight: 100;
    font-size: 2rem;

    /* structure */
    display: flex;
    place-content: center;
    place-items: center;
}

/* animations */

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* INFO SECTION */

.info {
    /* color */
    background-color: #050505;

    /* design */
    max-width: 120ch;
    margin-bottom: 30px;
    padding: 2rem;
    border-radius: 2px;

    /* structure */
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.infoBlock {
    /* color */
    background-color: #000000;

    /* font */
    font-family: 'Prompt', sans-serif;
    font-weight: 200;
    font-size: 1.4rem;

    /* design */
    padding: .5rem;
    border-left: 3px solid forestgreen;
    border-radius: 3px;
}

ul {
    list-style-type: none;
}

li, p {
    font-size: 1.2rem;
}

b {
    font-size: 1.5rem;
    font-weight: 400;
}

h5 {
    font-size: 1.4rem;
    font-weight: 400;
}

a {
    color: forestgreen;
    text-decoration: none;
}